<h1>Topics</h1>

<%= link_to "Add New Topic", new_api_topic_url %>
<%= link_to "Puns Index", api_puns_url %>

<ul>
<% @topics.each do |topic|  %>
  <li><a href="<%=api_topic_url(topic.id)%>"><%= topic.title  %></a> <%= link_to "Delete Topic", api_topic_url(topic), method: :delete %></li>
<% end %>
</ul>
