<h1>Topics</h1>

<%= link_to "Puns Index", api_puns_url %>

<ul>
<% @topics.each do |topic|  %>
  <li>
    <a href="<%=api_topic_url(topic.id)%>"><%= topic.title  %></a>
    <br>
    <a>
      <%= " Puns: #{topic.puns.count}"%> <%= "Likes: #{topic.likes.count}"%>
    </a>
    <% @like = current_user.likes.find_by( likeable_id: topic.id, likeable_type: "Topic") %>
    <%= @like ? like_delete(@like) : like_create(topic.id, "Topic")  %>
    <%= button_to "Delete Topic", api_topic_url(topic), method: :delete %>
  </li>
<% end %>
</ul>
