<h1><%= @topic.title %></h1>

<%= link_to "Add Pun", new_api_pun_url %>

<ul>
  <% @topic.puns.each do |pun| %>
    <li><%= link_to pun.term, api_pun_url(pun)  %></li>
  <% end %>
</ul>

<form class="delete-topic" action="<%= api_topic_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <%= form_auth %>
  <button>Delete Topic</button>
</form>

<%= link_to "Edit Topic", edit_api_topic_url %>
<%= link_to "Topics Index", api_topics_url %>
<%= link_to "Puns Index", api_puns_url %>
