<h1>Create Pun</h1>

<form class="pun-form" action="<%= api_puns_url %>" method="post">
  <%= form_auth %>
  <label for="pun-term">Term</label>
  <input type="text" id="pun-term" name="pun[term]" value="<%= @pun.term %>">

  <label for="pun-pun">Pun</label>
  <input type="text" id="pun-pun" name="pun[pun]" value="<%= @pun.pun %>">

  <label for="pun-example">Example</label>
  <input type="text" id="pun-example" name="pun[example]" value="<%= @pun.example %>">

  <label for="pun-tags">Tags</label>
  <textarea id="pun-tags" name="pun[tags]" rows="8" cols="40">
    <% @pun.topics.each do |topic| %>
      <%= "#" + topic.title %>
    <% end %>

  </textarea>

  <button>Create Pun</button>
</form>
