<h1><%= @pun.term %></h1>
<% @like = current_user.likes.find_by( likeable_id: @pun.id, likeable_type: "Pun") %>
<%= @like ? like_delete(@like) : like_create(@pun.id, "Pun")  %>
<h1><%= @pun.pun %></h1>
<h1><%= @pun.example %></h1>
<h1>Tags</h1>
<ul>
  <% @pun.topics.each do |topic| %>
    <li><%= link_to topic.title, api_topic_url(topic) %> </li>
  <% end %>
</ul>

<form class="delete-pun" action="<%= api_pun_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <%= form_auth %>
  <button>Delete Pun</button>
</form>

<%= link_to "Edit Pun", edit_api_pun_url %>
<%= link_to "Puns Index", api_puns_url %>
<%= link_to "Topics Index", api_topics_url %>
