<!DOCTYPE html>
<html ng-app="opunsrc">
<head>
  <title>Opunsrc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Opunsrc", root_url %>
  <% if signed_in? %>
    <%= link_to "Topics Index", api_topics_url %>
    <%= link_to "Puns Index", api_puns_url %>
    <%= link_to "Sign Out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Create New User", new_user_url %>
  <% end %>

  <% if !flash[:errors].nil? %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

<%= yield %>

<script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
</script>
</body>
</html>
